.orderList {
    .orderTable {
        table {
            width: 90%;
            text-align: left;
            tr {
                padding: 1rem 0;
            }
            thead {
            }
            tbody {
                tr {
                    td {
                        
                    }
                }
            }
        }
    }
}