.header {
  position: relative;
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      display: flex;
      padding: 1rem 2rem;
      width: 15rem;
      top: 5px;
      left: 5px;

      img {
        max-width: 90%;
        height: auto;
        margin: 0;
      }
    }

    .mobile-option {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
  }

  nav {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;

    ul,
    li {
      padding: 0;
      margin: 0;
      height: 100%;
    }

    ul {
      display: flex;
      flex-grow: 2;
      align-items: center;
      justify-content: space-between;

      .navigators {
        display: flex;
        flex-grow: 2;
        justify-content: center;
      }

      .accountActions {
        align-self: flex-end;
      }

      li {
        list-style-type: none;
        display: inline-block;
        margin: 0 1rem;

        a, span {
          font-size: 1.8rem;
          line-height: 6.5rem;
          vertical-align: middle;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          font-family: 'ZCOOL QingKe HuangYou', cursive;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  /*Mobile View */
  .header {
    padding: 0px;
    z-index: 10;
    .wrap {
      .logo {
        width: 20rem;
      }

      nav {
        position: absolute;
        left: 0;
        top: 7rem;
        width: 100%;
        transform: translateX(-100%);
        opacity: 100;
        transition: all 0.5s ease;

        &.active {
          transform: translateX(0);
          opacity: 0.9;
          transition: all 0.5s ease;
          z-index: 10;
          background: #118ab2;
        }

        ul {

          .navigators, .accountActions {
            display: block;
            margin: 0 auto;
          }
        }
      }

      .nav-options {
        display: flex;
        width: 100%;
        flex-direction: column;
        list-style-type: none;
        grid-gap: 0px;
        align-content: center;
      }
      .menu-icon {
        width: 45px;
        height: 45px;
      }
      
      .option {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 30px 0px;
      }
      .mobile-menu {
        display: block;
        padding-right: 4rem;
      }
    }
  }
}
