.customerDetails {
    background: #3a7aa7;

    .title {
        padding: 1rem 1rem 0rem 1rem;

        h1 {
            color: white;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }

    .form {
        display: flex;
        flex-direction: column;

        .formRow {
            margin: 0;
            padding: 0.5rem 1.5rem;

            &:last-child {
                margin-top: 2rem;
                display: flex;
            }
        }

        .btn {
            background: #708090;
            color: white;
            font-size: 2.5rem;
            font-weight: 700;

            &.active {
                background: #ffc800;
                color: black;
                padding-right: 1rem;
            }
        }
        .spinner {
            background: #ffc800;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .spin {
                width: 80%;
                fill: black;
            }
        }
    }
}