.search {
    vertical-align: middle;
    line-height: 6.5rem;
    display: flex;

    .formRow {

        .formInput {
            border: none;
            border-bottom: 1px dotted;
            background: none;
        }
    }
}